*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-light-grayish-cyan, hsl(185, 41%, 84%));
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

body, main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-logo {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.calculator {
  flex-direction: column;
  width: 100%;
  max-width: 864px;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--color-white, hsl(0, 0%, 100%));
}

.calculator__form {
  margin: 0;
}
.calculator__form input {
  padding: 0.5rem;
}
.calculator__form input[type=number] {
  width: 100%;
}
.calculator__form fieldset.flex {
  flex-direction: column;
}
.calculator__form fieldset .grid {
  grid-template-columns: repeat(2, 1fr);
}

.calculator__result {
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--color-grayish-cyan, hsl(184, 14%, 56%));
  background-color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));
}
.calculator__result p {
  margin: 0;
}

.calculator__result__per-person, .calculator__result__total {
  justify-content: space-between;
}

.calculator__result__per-person, .calculator__result__total {
  margin-bottom: 2rem;
}

.calculator__result__important-text {
  font-weight: 700;
  color: var(--color-white, hsl(0, 0%, 100%));
}

.calculator__result__amount {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-strong-cyan, hsl(172, 67%, 45%));
}

#calculator__reset-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));
  background-color: var(--color-strong-cyan, hsl(172, 67%, 45%));
}

.calculator__form__part {
  margin-bottom: 2rem;
}

input:hover, input:focus, .choice:hover, .choice:focus, #calculator__reset-button:hover, #calculator__reset-button:focus {
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  .page-logo {
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .calculator {
    flex-direction: row;
  }
  .calculator__result {
    width: 45%;
    margin-top: 0;
    margin-left: 2rem;
  }
  .calculator__form {
    width: 55%;
  }
  .calculator__form fieldset .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));
}/*# sourceMappingURL=styles.css.map */