*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-strong-cyan: hsl(172, 67%, 45%);

    --color-very-dark-cyan: hsl(183, 100%, 15%);
    --color-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-grayish-cyan: hsl(184, 14%, 56%);
    --color-light-grayish-cyan: hsl(185, 41%, 84%);
    --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
}

$calculator-buttons-padding: 0.5rem;

body {
    min-height: 100vh;

    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--color-light-grayish-cyan, hsl(185, 41%, 84%));
}

.flex {
    display: flex;
}

body, main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-logo {
    max-width: 100%;

    margin-top: 2rem;
    margin-bottom: 3rem;

}

.calculator {
    flex-direction: column;

    width: 100%;
    max-width: 864px;

    padding: 2rem;

    border-radius: 1.5rem;

    background-color: var(--color-white, hsl(0, 0%, 100%));
}

.calculator__form {
    margin: 0;

    input {
        padding: $calculator-buttons-padding;
    }
}

.calculator__result {
    flex-direction: column;
    justify-content: space-between;

    margin-top: 2rem;
    padding: 2rem;

    border-radius: 1rem;

    color: var(--color-grayish-cyan, hsl(184, 14%, 56%));
    background-color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));

    p {
        margin: 0;
    }
}

.calculator__result__per-person, .calculator__result__total {
    justify-content: space-between;
    // align-content: center;
    // align-items: center;
}

.calculator__result__per-person {
    margin-bottom: 2rem;
}

.calculator__result__important-text {
    font-weight: 700;

    color: var(--color-white, hsl(0, 0%, 100%));
}

.calculator__result__amount {
    font-size: 32px;
    font-weight: 700;

    color: var(--color-strong-cyan, hsl(172, 67%, 45%));
}

#calculator__reset-button {
    width: 100%;
    
    padding: $calculator-buttons-padding;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));
    background-color: var(--color-strong-cyan, hsl(172, 67%, 45%));
}

@media screen and (min-width: 620px) {
    .page-logo {
        margin-top: 0;
        margin-bottom: 5rem;
    }
    
    .calculator {

        flex-direction: row;
    }

    .calculator__result {
        width: 45%;

        margin-top: 0;
        margin-left: 2rem;
    }

    .calculator__form {
        width: 55%;
    }
    
}

.attribution {
    margin-top: 1rem;

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--color-very-dark-cyan, hsl(183, 100%, 15%));
}